@model PrescriptionViewModel
@{
    ViewData["Title"] = "Prescription Page";
}
<form asp-controller="Prescription" asp-action="Add">
    Name:
    <input type="text" name="Name" />
    Created At:  <input type="date" name="CreatedAt" />
    <button type="submit" class="btn btn-danger">Add</button>
</form>

