@model MedicineViewModel
@{
    ViewData["Title"] = "Medicine Page";
}
    <form asp-controller="Medicine" asp-action="Add">
        <p>Name:</p>
        <input type="text" name="Name" />
        <p>Producent:</p>
        <input type="text" name="Producent" />
        <p>Active Substance:</p>
        <input type="text" name="ActiveSubstance" />
        <p>Expiration Date:</p>
        <input type="date" name="ExpirationDate" />
        <p>Weight:</p>
        <input type="number" name="Weight" />
        <p>Price:</p>
        <input type="number" name="Price" />
        <p>Amount:</p>
        <input type="number" name="Amount" />


        <button type="submit" class="btn btn-danger">Add</button>
    </form>

